@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.reg_page_student{
    background: linear-gradient(113.32deg, rgba(180, 156, 226, 0.984) 0.73%, #6f19e1f0 58.72%, #6206e2f7 105.8%);
    background-size: "cover";
    height: 100vh; 
    background-repeat:no-repeat; 
    margin-left: 45%;
}
.reg_page_leftside{
    position: absolute;
    width: 45%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #FCFCFC; 
   
}
.reg_page_content{
     display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      position: absolute;
      width: 350px;
      height: 308px;
      left: 202px;
      margin-top: 200px;
      text-align: left;
}
.reg_page_text{
    width: 350px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;

    color: #390479;
/* Inside auto layout */
    top:200px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.reg_page_admin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 300px;
    height: 50px;
    margin-top: 30px;
/* Text */
    color:white;
    background: #24014E;
    border-radius: 50px;
    font-size: x-large;
/* Inside auto layout */
     flex: none;
     order: 1;
     flex-grow: 0;
}
.reg_page_Maincontent{
            box-sizing:border-box;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items : center;
            padding:10px 30px;
            position:absolute;
            width:27vw;
            height: 40vw;
            left:870px;
            top:50px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.14) 100%);
            border: 1px solid rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(15px);
            border-radius:40px;
           
           
}
.reg_page_Helloadmin{
           margin: 3rem 0 2rem 0;
           color:#390479;
           font-weight: bold;
           font-size:xx-large;
}
.reg_page_InputContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:20px 30px;
    gap:10px;
    color:#390479;
    width: 120%;
    height:24%; 
    border-radius: 50px;
}

.reg_page_Forgotpassword p{
             margin:2rem;
             cursor :pointer;  
             align-items:center;
             justify-content:center;
             color:#390479;
             font-weight: bold;
             font-size: large;
             margin-top:34px;
             margin-bottom:12px;
}
.reg_page_buttoncontainer{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:10px;
    width: 120%;
    height:24%;
}
.reg_page_buttoncontainer p{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#24014E;
    color:#FCFCFC;
    gap:10px;
    width: 100%;
    height:40%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
}
.reg_page_Register{
          display:flex;
          justify-content:center;
          align-items: center;
          width: 140%;
          height:30%;
          color:#24014E;
          font-weight: bold;
          font-size:large;
          top:0%;
          cursor :pointer;  
          margin-top:0px;
          margin-bottom: 0%;
}
