@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.landingPage{
    position: relative;
    min-width: 100%;
    background-image:url('../../../src/assets/bgcb.png');
    height: 100vh;
}
.landing_nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 410px;
    height: 50px;
    left: 1000px;
    top: 20px;
    background: #FCFCFC;
    border-radius: 25px 0px 0px 25px;
 }
 h1{
    margin: 0;
    font-size: 2.6rem;
}
.landingtext{
    position: absolute;
    width: 545px;
    height: 288px;
    left: 150px;
    top: 170px;
    color: #24014E;
}
.landinglogin{
    color:#24014E;
    margin-top:15px;
    font-size:1.4rem;
}

.landingButtons{
   display:flex;
   flex-direction: row;
   margin-top:30px;
   gap: 40px; 
   position: absolute;
   width: 350px;
   height: 50px;
   left: 145px;
   top:400px;
}

.landingAdmin{
    font-weight: bold;
    justify-content:space-between;
    font-size: 1.0rem;
    color:white;
    width:150px;
    border-radius:20px;
    background-color: rgb(36,1,78);
}
.landingStudent{
    font-weight: bold;
    justify-content:space-between;
    font-size: 1.0rem;
    color:white;
    width:150px;
    border-radius:20px;
    background-color: rgb(36,1,78);
}
.landingRocket{
    position: absolute;
    width: 440px; 
    height: 470px;
    left: 800px;
    top: 160px;
} 
.landinglogo{
    margin-left:0px;
    margin-top: 20px;
    height:60px;
   
}
